.junior {
    display: flex;
    margin-top: 20px;
}

.juniorName {
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    text-decoration: underline;
}

.juniorLessons {
    display: flex;
    flex: auto;
    justify-content: space-between;
    margin-left: 20px;
}

.juniorLessons > a {
    color: white;
    text-decoration: none;
}

.juniorLessons > a > div {
    width: 150px;
    height: 25px;
    color: white;
    background: #20b2aa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.juniorLessons > a > div:hover {
    text-decoration: underline;
    background: mediumslateblue;
    transition: 0.3s;
}