.message {
    display:flex;
    align-items: flex-end;

    margin: 10px;
}

.avatar {
    height: 50px;
    width: 50px;

    border-radius: 50%;
}

.content {
    padding: 10px;
    border-radius: 5px 5px 5px 0;
}



.textMessage {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: lightseagreen;
}

.time {
    display: flex;
    justify-content: flex-end;

    color: mediumslateblue;
}